body main publications {
    publication-card {
        display: block;
        font-family: var(--font-main);
        border: 2px solid var(--border-color);
        border-radius: 0.5rem;
        padding: 2rem;
        margin-bottom: 1rem;
        box-shadow: var(--color-card-shadow-light);
        background-color: var(--color-card-bg-light);
    }

    publication-card:hover {
        box-shadow: 0 6px 16px rgba(0,0,0,0.12);
        transform: scale(1.025);
        transition: box-shadow 0.3s ease, transform 0.3s ease;
        cursor: pointer;
    }
    
    publication-card h4 {
        margin-top: 0;
        margin-bottom: 8px;
        font-size: 1.1rem;
        color: var(--active-color)
    }
    
    h1 a, publication-card h4 a {
        position: relative; 
        display: inline-block; 
        text-decoration: none;
        color: var(--active-color);
    }
    
    h1 a::after, publication-card h4 a::after {
        content: ''; 
        position: absolute;
        bottom: 0;
        left: 0; 
        width: 0; 
        height: 2px;
        background-color: currentColor;
        transition: width 0.5s ease-out;
    }
    
    h1 a:hover::after, publication-card h4 a:hover::after {
        width: 100%;
    }
    
    publication-card p {
        font-size: 0.9rem;
        color: var(--text-color);
        margin: 0 0 8px 0;
    }
}