main {
    /* side-menu {

    } */

    post-header {
        align-content: center;
    }

    article {
        
        post-body {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            h2 {
                margin-top: 0;
            }
        }

        post-header {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            h1 {
                margin-top: 0;
            }
        }
    }
}